* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

body {
  background: radial-gradient(
    circle at top,
    #2b0f3a 0%,
    #14001f 40%,
    #0a0012 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 14px;

  width: 320px;
  padding: 24px;

  background: rgba(25, 10, 40, 0.85);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(12px);
}

/* INPUT */
.container input {
  padding: 12px 14px;
  border-radius: 12px;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-size: 14px;
}

.container input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* BOTÃO */
.container button {
  height: 44px;
  border-radius: 999px;
  border: none;
  cursor: pointer;

  background: linear-gradient(135deg, #a855f7, #6d28d9);
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.container button:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(168, 85, 247, 0.4);
}

/* TEXTO */
.container p {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 13px;
}

.container h1{
 color: rgba(255, 255, 255, 0.7);
 text-align: center;
 font-size: 50pxpx;

}

#status {
  margin-top: 10px;
  padding: 8px 12px;
  border-radius: 10px;

  font-size: 13px;
  font-weight: 500;
  text-align: center;

  background: rgba(168, 85, 247, 0.15);
  color: #e9d5ff;

  box-shadow: inset 0 0 0 1px rgba(168, 85, 247, 0.3);
}

/* ÁREA DO RESULTADO  */
#resultado {
  margin-top: 12px;
  padding: 14px;
  border-radius: 14px;

  background: rgba(255, 255, 255, 0.06);
  color: #f5f3ff;

  font-size: 13px;
  line-height: 1.6;

  max-height: 160px;
  overflow-y: auto;

  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08);
}

/* scrollbar estilo dark */
#resultado::-webkit-scrollbar {
  width: 6px;
}

#resultado::-webkit-scrollbar-thumb {
  background: rgba(168, 85, 247, 0.5);
  border-radius: 10px;
}
